TRIBUNE

Immediate TODO

	Fonts
	Advertisement rotation
	???Thumbnail croper
	Invalid settings
	Invalid user interface
	Limit/offset

TODO

	Image splitting text
	Weather randomizer
	Daily comic
	Calendar
	Market Metric
	Youtube Embed
	Support
	Terms of use
	Events
	Get Watch

Glitches

	Internet Explorer Buttons

Navbar

			HOME
	S4S
	/b/
	4Chan
	Internet
	Politics
	Business
	Lifestyle
	Arts
	Features
	Interviews
	Radio

MODEL
	Articles
		ID
		Title
		Slug
		Subtitle
		Text
		Image
		Date
		Author
		Category
		Views
	Comments
		ID
		Text
		User
		Date
		Article (link to Articles)
	Ads
		ID
		Image
		Number
		Frequency
		Type
	Popular
		ID
		Article
		Slug
		Views
		Rank
