/*	Global */
body {
	background: #222;
	color: white;
	overflow-x: hidden;
}
.tile {
	height: 400px;
	width: 100%;
	text-align: center;
	font-family: 'Reenie Beanie', cursive;
	text-decoration: default;
}
.tile_link {
	color: inherit;
}
.tile:hover, .tile:hover a {
	background-color: black !important;
	color: white !important;
}
.tile_img {
	width: 100%;
}